body {
    background-image: url(../img/bg.png);
    margin: 10px;
    /*border: 10px solid #00FF00;*/
}

.bg {
    background-image: url(../img/crabmonster.gif);
    background-size: 100%;
}


/*-----HOVER-----*/

a {
    color: red;
    text-decoration: none;
}

a:hover {
    background-image: none;
    background-color: white;
    color: #00FF00;
    text-decoration: line-through;
}


/*-----LOGO-----*/

.logo {
    width: 100%;
    font-family: 'Apercu';
    color: black;
    margin: 0 auto;
    max-width: 800px;
    font-size: 28px;
    text-align: center;
    width: 100%;
    background-color: white;
}

h1 {
    position: fixed;
    top: 10px;
    left: 200px;
    z-index: 1;
}

.contentnav {
    width: 100%;
    max-width: 1000px;
    margin: auto;
    margin-top: 100px;
    margin-bottom: 50px;
    text-align: center;
}


/*-----CHECKBOXES-----*/

input {
    display: none;
}

input[type="checkbox"] + label span {
    display: inline-block;
    width: 40px;
    height: 40px;
    background: url(../img/sprite.png) 0px top no-repeat;
    cursor: pointer;
    vertical-align: bottom;
}

input[type="checkbox"]:checked + label span {
    background: url(../img/sprite.png) -40px top no-repeat;
}

label {
    font-family: 'Apercu';
    color: black;
    font-size: 28px;
    margin: auto 20px;
    cursor: pointer;
}

.checkboxes {
    display: inline-block;
}

.check {
    color: black;
}

.check:hover {
    background: none;
    color: blue;
    text-decoration: line-through;
}


/*-----CONTENT-----*/

.contentewrap {
    width: 100%;
    max-width: 800px;
    margin: auto;
    text-align: center;
    z-index: 1;
}

.contentme {
    width: 100%;
    max-width: 800px;
    margin: auto;
    text-align: center;
    cursor: move;
    position: fixed;
}

.contentme-none {
    display: none;
}

.content {
    width: 100%;
    max-width: 800px;
    margin: auto;
    text-align: center;
}

.text {
    font-family: 'apercu-mono-webfont';
    color: black;
    font-size: 20px;
    padding: 10px 30px;
    text-align: left;
    margin: 25px 0;
    background-color: white;
    box-shadow: -8px 8px #262626;
}

.content h2 {
    font-family: 'Apercu';
    color: red;
    font-size: 28px;
    text-align: left;
    margin-left: -60px;
}

.content .info {
    font-family: 'apercu-mono-webfont';
    font-size: 16px;
    text-align: left;
    padding: 10px 30px;
    margin: 25px 20px;
    background-color: white;
    box-shadow: -8px 8px #262626;
}


/*-----PROYECTS-----*/

.projectwrap {
    width: 100%;
    max-width: 800px;
    margin: auto;
    text-align: center;
    font-size: 0;
    position: fixed;
    z-index: 1;
}

.projectwrap-none {
    display: none;
}

.project1 {
    background-color: white;
    box-shadow: -8px 8px #262626;
    margin: 8px;
    cursor: move;
    display: inline-block;
    z-index: 1;
}

.project2 {
    background-color: white;
    box-shadow: -8px 8px #262626;
    margin: 8px;
    cursor: move;
    display: inline-block;
}

.project3 {
    background-color: white;
    box-shadow: -8px 8px #262626;
    margin: 8px;
    cursor: move;
    display: inline-block;
}

.project4 {
    background-color: white;
    box-shadow: -8px 8px #262626;
    margin: 8px;
    cursor: move;
    display: inline-block;
}

.project1 img {
    width: 250px;
    height: 160px;
}

p {
    font-family: 'apercu';
    font-size: 24px;
    padding: 0 10px;
    margin: 5px;
    text-align: left;
}

.description {
    font-family: 'apercu-mono-webfont';
    font-size: 12px;
    margin: 5px;
    color: gray;
    text-align: left;
}


/*-----PICTURES-----*/

.pictures {
    margin: 50px auto;
    width: 100%;
}

.pictures2 {
    margin: 50px auto;
    width: 50%;
}

.pictures img {
    width: 95%;
    padding: 5px;
    text-align: center;
}


/*-----CONTACT-----*/

.contact {
    display: none;
}

.contact-none {
    display: block;
}

.email {
    position: fixed;
    top: 200px;
    left: 500px;
    display: inline-block;
    background-color: white;
    padding: 30px;
    background-image: none;
    font-family: 'Apercu';
    color: black;
    font-size: 28px;
    box-shadow: -8px 8px #262626;
    cursor: move;
}

.behance {
    position: fixed;
    top: 450px;
    left: 700px;
    display: inline-block;
    background-color: white;
    padding: 30px;
    background-image: none;
    font-family: 'Apercu';
    color: black;
    font-size: 28px;
    box-shadow: -8px 8px #262626;
    cursor: move;
}

.instagram {
    position: fixed;
    top: 350px;
    left: 200px;
    display: inline-block;
    background-color: white;
    padding: 30px;
    background-image: none;
    font-family: 'Apercu';
    color: black;
    font-size: 28px;
    box-shadow: -8px 8px #262626;
    cursor: move;
}


/*-----FOOTER-----*/

footer {
    position: relative;
    top: -20px;
    text-align: center;
    font-family: 'Apercu';
    color: red;
    font-size: 28px;
}

.back {
    position: absolute;
    left: 0;
    left: 2%;
    text-align: left;
    width: 300px;
}

.next {
    position: absolute;
    right: 0;
    text-align: right;
    width: 300px;
}


/*-----FONT-----*/

@font-face {
    font-family: 'Apercu';
    src: url('../font/Apercu.otf') format('truetype');
}

@font-face {
    font-family: 'apercu-mono-webfont';
    src: url('../font/apercu-mono-webfont.ttf') format('truetype');
}


/*-----MEDIA QUERIES-----*/

@media (max-width: 900px) {
    .back a {
        font-size: 20px;
    }
    .next a {
        font-size: 20px;
    }
    footer a {
        font-size: 20px;
    }
    .content h2 {
        margin-left: 20px;
    }
}

@media (max-width: 600px) {
    .checkboxes {
        display: list-item;
        text-align: left;
        width: 70%;
        margin: 0 auto;
    }
    h1 {
        position: fixed;
        top: 10px;
        left: 60px;
        z-index: 1;
    }
}
/*--------------GLITCH_LOGO-------------------*/

.glitch {
    font-family: 'Apercu';
    color: black;
    margin: 0 auto;
    max-width: 800px;
    font-size: 28px;
    text-align: center;
    width: 100%;
    background-color: white;
}

@keyframes noise-anim {
    0% {
        clip: rect(83px, 9999px, 23px, 0);
    }
    5% {
        clip: rect(20px, 9999px, 74px, 0);
    }
    10% {
        clip: rect(70px, 9999px, 77px, 0);
    }
    15.0% {
        clip: rect(83px, 9999px, 85px, 0);
    }
    20% {
        clip: rect(50px, 9999px, 18px, 0);
    }
    25% {
        clip: rect(36px, 9999px, 59px, 0);
    }
    30.0% {
        clip: rect(38px, 9999px, 14px, 0);
    }
    35% {
        clip: rect(92px, 9999px, 41px, 0);
    }
    40% {
        clip: rect(20px, 9999px, 22px, 0);
    }
    45% {
        clip: rect(44px, 9999px, 7px, 0);
    }
    50% {
        clip: rect(88px, 9999px, 50px, 0);
    }
    55.0% {
        clip: rect(78px, 9999px, 89px, 0);
    }
    60.0% {
        clip: rect(42px, 9999px, 73px, 0);
    }
    65% {
        clip: rect(91px, 9999px, 17px, 0);
    }
    70% {
        clip: rect(59px, 9999px, 64px, 0);
    }
    75% {
        clip: rect(55px, 9999px, 61px, 0);
    }
    80% {
        clip: rect(85px, 9999px, 42px, 0);
    }
    85.0% {
        clip: rect(100px, 9999px, 24px, 0);
    }
    90% {
        clip: rect(56px, 9999px, 45px, 0);
    }
    95% {
        clip: rect(86px, 9999px, 62px, 0);
    }
    100% {
        clip: rect(86px, 9999px, 47px, 0);
    }
}

.glitch:after {
    content: attr(data-text);
    position: absolute;
    left: 0;
    text-shadow: -1px 0 red;
    top: 0;
    color: black;
    background: white;
    overflow: hidden;
    clip: rect(0, 900px, 0, 0);
    animation: noise-anim 2s infinite linear alternate-reverse;
}

@keyframes noise-anim-2 {
    0% {
        clip: rect(50px, 9999px, 70px, 0);
    }
    5% {
        clip: rect(80px, 9999px, 10px, 0);
    }
    10% {
        clip: rect(1px, 9999px, 62px, 0);
    }
    15.0% {
        clip: rect(82px, 9999px, 40px, 0);
    }
    20% {
        clip: rect(32px, 9999px, 63px, 0);
    }
    25% {
        clip: rect(63px, 9999px, 31px, 0);
    }
    30.0% {
        clip: rect(15px, 9999px, 39px, 0);
    }
    35% {
        clip: rect(17px, 9999px, 52px, 0);
    }
    40% {
        clip: rect(66px, 9999px, 59px, 0);
    }
    45% {
        clip: rect(3px, 9999px, 58px, 0);
    }
    50% {
        clip: rect(56px, 9999px, 28px, 0);
    }
    55.0% {
        clip: rect(90px, 9999px, 91px, 0);
    }
    60.0% {
        clip: rect(94px, 9999px, 97px, 0);
    }
    65% {
        clip: rect(18px, 9999px, 79px, 0);
    }
    70% {
        clip: rect(59px, 9999px, 37px, 0);
    }
    75% {
        clip: rect(35px, 9999px, 83px, 0);
    }
    80% {
        clip: rect(51px, 9999px, 57px, 0);
    }
    85.0% {
        clip: rect(28px, 9999px, 63px, 0);
    }
    90% {
        clip: rect(98px, 9999px, 55px, 0);
    }
    95% {
        clip: rect(69px, 9999px, 94px, 0);
    }
    100% {
        clip: rect(56px, 9999px, 1px, 0);
    }
}

.glitch:before {
    content: attr(data-text);
    position: absolute;
    left: -2px;
    text-shadow: 1px 0 blue;
    top: 0;
    color: black;
    background: white;
    overflow: hidden;
    clip: rect(0, 900px, 0, 0);
    animation: noise-anim-2 3s infinite linear alternate-reverse;
}