body {
<<<<<<< HEAD
    margin: 0;
    padding: 0;
    border: 15px solid pink;
}


/*-----FONT-----*/

@font-face {
    font-family: 'Apercu';
    src: url('../font/Apercu.otf') format('truetype');
}

@font-face {
    font-family: 'apercu-mono-webfont';
    src: url('../font/apercu-mono-webfont.ttf') format('truetype');
}


/*-----HEADER-----*/

.menu {
    position: fixed;
    width: 100%;
    top: 30px;
    z-index: 1;
}

header {
    width: 100%;
    font-family: 'Apercu';
    color: #e72000;
    text-align: left;
}

header h1 {
    padding-left: 50px;
}

nav {
    width: 100%;
    margin-top: -53px;
}

nav ul {
    text-align: right;
    margin: 0 auto;
    padding-right: 140px;
}

nav ul li {
    display: inline-block;
    padding: 0;
    margin: 0% 1%;
    font-family: 'Apercu';
    font-size: 25px;
}

a {
    color: #e72000;
    text-decoration: none;
}

a:hover {
    text-decoration: line-through;
    color: magenta;
}


/*-----CONTENT-----*/

.content {
    width: 100%;
    max-width: 1000px;
    margin: 100px auto;
    font-size: 0;
    text-align: center;
}


/*-----PROYECT1-----*/

.project1 {
    position: relative;
    display: inline-block;
    width: 31%;
    font-size: 18px;
    margin: 1% 1%;
    background-image: url(../img/tarjetas%20paprika.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.project1 img {
    width: 100%;
    opacity: 0;
}

.project1 img:hover {
    opacity: 1.0;
}

.project1 h2 {
    position: absolute;
    left: -20px;
    top: 50px;
}

.project1 img:hover + h2 {
    opacity: 1.0;
}

.content h2 {
    font-family: 'Apercu';
    color: #e72000;
    font-size: 24px;
    margin: 0;
    text-align: left;
    opacity: 0;
}

.content h2:hover {
    opacity: 1;
}

.content p {
    font-family: 'apercu-mono-webfont';
    font-size: 12px;
    margin: 5px 5px 5px 20px;
}


/*-----FOOTER-----*/

footer {
    text-align: center;
    font-weight: 300;
    font-family: "Comic Sans MS", cursive, sans-serif;
    color: magenta;
}


/*-----MEDIA QUERIES-----*/

@media (max-width: 900px) {
    .project1 {
        width: 48%;
    }
    .project1 h2 {
        position: absolute;
        left: 100px;
        top: 30px;
    }
}

@media (max-width: 600px) {
    .project1 {
        width: 98%;
    }
    nav ul {
        padding-right: 40px;
    }
    nav {
        margin-top: -44px;
    }
    nav ul li {
        font-size: 22px;
    }
    header h1 {
        padding-left: 20px;
        font-size: 24px;
    }
}
=======
    background-color: pink;

   


    
 
    
}
body:hover {
  
        animation-name: bgAnimation;
    animation-duration: .1s;
    animation-iteration-count: infinite;
}

.conteiner {

    color: black;
    margin: 20px auto;
    padding: 20px 60px;
    width: 400px;
    background-image:url(../img/bg.png);
    background-color: white;
    height: 250px;
    box-shadow: 10px 10px 5px black;
    font-family: monospace;
    transition-property: all;
     transition-duration: .5s;
  transition-timing-function: ease;
    
 
}

.conteiner:hover {
  background-color: black;
    background-image:url(../img/bg.png)
}

.block1 {
    position: relative;
    
    height: 5px;
    width: 240px;
    top: -33px;
    animation-name: block1Animation;
    animation-duration: 2s;
   
    

}

.block2 {
    position: relative;
    
    height: 5px;
    width: 200px;
    top: -30px;
    animation-name: block2Animation;
    animation-duration: 2.5s;
    
    
    

}

.block3 {
    position: relative;
   
    height: 5px;
    width: 260px;
    top: -30px;
    animation-name: block3Animation;
    animation-duration: 3s;
    
    
    

}
.block4 {
    position: relative;
    
    height: 5px;
    width: 330px;
    top: -27px;
    animation-name: block4Animation;
    animation-duration: 3.5s;
    
    
    

}



/*animation*/


@keyframes block1Animation {
    0% {
   
        left: 0px;
        background-color: cyan;
    }
    75% {
        
        left: 0px;
        background-color: yellow;
    }
   50% {
        
        left: 0px;
       background-color: magenta;
    }
   25% {
        
        left: 0px;
       background-color: black;
    }
   
    100% {
        
        left: 1000px;
        background-color: cyan;
    }
    
}

@keyframes block2Animation {
    0% {
   
        right: 0px;
        background-color: yellow;
    }
    75% {
        
        right: 0px;
        background-color: magenta;
    }
   50% {
        
        right: 0px;
       background-color: cyan;
    }
   25% {
        
        right: 0px;
       background-color: black;
    }
   
    100% {
        
        right: 1000px;
        background-color: yellow;
    }
    
}

@keyframes block3Animation {
    0% {
   
        left: 0px;
        background-color: magenta;
    }
    75% {
        
        left: 0px;
        background-color: yellow;
    }
   50% {
        
        left: 0px;
       background-color: cyan;
    }
   25% {
        
        left: 0px;
       background-color: black;
    }
   
    100% {
        
        left: 1000px;
        background-color: magenta;
    }
    
}

@keyframes block4Animation {
    0% {
   
        right: 0px;
        background-color: black;
    }
    75% {
        
        right: 0px;
        background-color: cyan;
    }
   50% {
        
        right: 0px;
       background-color: yellow;
    }
   25% {
        
        right: 0px;
       background-color: magenta;
    }
   
    100% {
        
        right: 1000px;
        background-color: black;
    }
    
}

@keyframes bgAnimation {
    0% {
   
        right: 0px;
        background-color: black;
    }
    75% {
        
        right: 0px;
        background-color: cyan;
    }
   50% {
        
        right: 0px;
       background-color: yellow;
    }
   25% {
        
        right: 0px;
       background-color: magenta;
    }
   
    100% {
        
        right: 1000px;
        background-color: black;
    }
    
}



>>>>>>> origin/master
